body{
 
  font-family: 'sans-serif';
  background-color: pink;
 
  h2{
  border: font-weight: ;
  }
  p{
    background-color: burlywood;
  border-radius: 200px;
  }
  
  h1{ background-color: beige;
  }
  img{
   background-color: papayawhip;
  }
 div{
   background-color: beige;
 }
h3{
  background-color: plum;
border-radius: 1000ex;
}
link{
  border-radius: 30ex;
}
h4{
border: 10vmin;
height:5 ;
width: 5;
background-color: rgb(255, 192, 250);
}
